<div class= "row">

    <% @facts.each do |fact| %>
        <div class="col-md-12">
          <div class="postbg">
            <div class="clearfix weuser-post">
              <div class="weuser-avatar"><%= image_tag fact.user.avatar.url(:thumb) %></div>
              <div class="weuser-name"><%= fact.user.name %></div>
           </div>
           <div class="weitem wetype fact">
                <span class="fa fa-lightbulb-o weitem wetype"></span>
              </div>
           <div class="wedate pull-right wehi">
              <%= fact.created_at.strftime("%b %d, %Y") %>
            </div>
           <div class="clearfix"></div>
            <%= fact.factfie %>
          </div>
      </div>
    <% end %>   
    </div>
