@import "bootstrap-sprockets";
@import "bootstrap";


body{background: url('/assets/bg.png') center #e1eef6 fixed;}
a{color: #666;}
a:hover,a:focus{text-decoration: none;color:#ddd;}

#header{
    height: 350px;
    background: url('/assets/illustration.png') repeat-x bottom center #2e9ad7;
    background-size: contain;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.10) inset, 0px 5px 12px rgba(0,0,0,0.10);
}
.well{background: rgba(255,255,255,0.8);}

.navbar-default{border-radius:0;border: 0;background: none; background: #2e9ad7;}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.alert-notice {
	margin-top: 5px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}